<h1 class="header">Line-up:</h1>

<ul>
  <% @posts.each do |post| %>
    <li class="list">
      <%= post.joke %>
      <br><%= post.image %>
    </li>
    <hr>
  <% end %>
</ul>

<div class="text-center">
	<%= link_to "New post", new_post_path, class:"btn btn-default" %>
</div>