@import "bootstrap-sprockets";
@import "bootstrap";

.header{
	text-align:center;
	padding:0 5% 0 5%
}

.facebook-share{
	margin-left: 40%;
    width: 22%;
}

body{
	font-family:HelveticaNeue-Light
}

.list{
	text-overflow:ellipsis;
	overflow:hidden
}

.frame-container{
	text-align:center;
	width:95%;
	margin:0 auto;
}

.image{
	border-radius:10px;
	max-width:92%;
	margin:3% 0
}

.joke:link{
	text-decoration:none;
	color:black
}

#joke{
	color:black
}

#answer{
	display:none
}

.text-center{
	padding:4% 0 2% 0
}

.row{
	padding:4%
}

.form{
	font-weight:normal;
	padding:2% 0 2% 0;
	width:20%
}

.form_field{
	width:75%;
	display:inline-block !important
}

ul{
	margin-top:5%;
	padding-left:4%
}
