@import "bootstrap-sprockets";
@import "bootstrap";

.header{
	text-align: center;
	padding: 0 5% 0 5%;
}

body{
	font-family: HelveticaNeue-Light;
}

.list{
	text-overflow: ellipsis;
	overflow: hidden;
}

.image{
	max-width: 84%;
	margin-left: 8%;
}

.joke:link{
	text-decoration: none;
	color:black;
}

#joke{
	color:black;
}

#answer{
	display:none;
}

.text-center{
	padding: 4% 0 2% 0;
}

.row{
	padding:4%;
}

.form{
	font-weight: normal;
	padding: 2% 0 2% 0;
	width: 20%;
}

.form_field{
	width: 75%;
}

ul{
	margin-top:5%;
	padding-left:4%;
}
