@import "bootstrap-sprockets";
@import "bootstrap";

.header{
	text-align: center;
}

.list{
	text-overflow: ellipsis;
	overflow: hidden;
}

.image{
	max-width:100%;
}

.joke:link{
	text-decoration: none;
	color:black;
}

#joke{
	color:black;
}

#answer{
	display:none;
}